*{
	margin: 0;
	padding: 0;
}
.nav{
	height: 52px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 9px;
}
.nav .more{
	width: 50px;
	font-size: 26px !important;
	text-align: center;
	color: #999;
}
.nav .square{
	width: 50px;
	font-size: 20px !important;
	text-align: center;
	color: #999;
	text-decoration: none;
}
.logo-index{
	height: 87px;
	text-align: center;
}
.logo-index img{
	height: 57px;
}
.search-index{
	height: 46px;
	padding: 0px 16px;
	margin-bottom: 10px;
}
.con-wrap{
	margin: 0 auto;
	border: 1px solid #363636;
	height: 44px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.con-wrap .se-input{
	height: 44px;
	padding: 7px 42px 7px 6px;
	box-sizing: border-box;
	border: none;
	flex: 1;
}
.con-wrap .se-btn{
	height: 44px;
	padding: 0px 10px;
	box-sizing: border-box;
	border: none;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -1px;
	background: #fff;
	border: none;
	border-left: 1px solid #e8e8e8;
	color: #38f;
}
.index-ad{
	padding: 10px 16px;
}
.ad-main{
	text-align: center;
	position: relative;
}
.ad-main img{
	display: block;
	width: 100%;
	border-radius: 4px;
}
.rn-con{
	width: calc(100% - 32px);
	margin: 0 auto;
}
.rn-h1{
	font-size: 18px;
	color: #333;
}
.rn-hot{
	color: #ec4345;
	margin-right: 8px;
	font-size: 13px;
}
.main-name{
	color: #999;
	margin-right: 8px;
	font-size: 13px;
	line-height: 16px;
}
.start-article{
	padding: 17px 0px 4px;
}
.end-article{
	padding: 4px 0px 17px;
}
.flex-x{
	display: flex;
	justify-content: space-between;
}
.flex-y{
	justify-content: space-between;
	flex-direction: column;
}
.news{
	width: calc(100% - 32px);
	margin: 0px auto;
	padding: 14px 0px;
	border-top: 1px solid #f0f0f0;
	display: flex;
	position: relative;
}
.news-left{
	height: 75px;
	margin-right: 10px;
}
.news-left img{
	height: 100%;
}
.news-right{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.news-right .rn-h1{
	margin-bottom: 8px;
}
.news-top{
	margin-bottom: 4px;
}
.news-bottom img{
	width: 33.34%;
	margin-bottom: 13px;
}
.news:after{
	content: "";
	display: block;
    width: 36px;
    height: 38px;
    margin: 0;
    text-align: right;
    position: absolute;
    bottom: 6px;
    right: 0px;
    background: url(../images/del.png) no-repeat;
    background-size: 12px;
    background-position: 24px 16px;
    z-index: 8;
    cursor: pointer;
}
.ad-main:after{
	content: "";
	display: block;
    width: 36px;
    height: 38px;
    margin: 0;
    text-align: right;
    position: absolute;
    top: 0px;
    right: 12px;
    background: url(../images/del.png) no-repeat;
    background-size: 12px;
    background-position: 24px 16px;
    z-index: 8;
    cursor: pointer;
}